<div class="videos-container">
    <div class="videos-header">Videos</div>
    <ul class="video-list">
        <li class="video-item">
                <h3 class="video-title">Video 1</h3>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/V0NP_aXiKzE?si=gIt8UMacyzKvmX4m" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="video-info">
                <p class="video-description">Descripción del Video 1.</p>
            </div>
        </li>
        <li class="video-item">
            <div class="video-info">
                <h3 class="video-title">Video 2</h3>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/V27Y0UjFx40?si=HxnNH8AmykMat5KQ" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <p class="video-description">Descripción del Video 2.</p>
            </div>
        </li>
        <li class="video-item">
            <div class="video-info">
                <h3 class="video-title">Video 3</h3>           
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/XgKtrdDpY_Q?si=FlQrafdg_Bt01shp" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <p class="video-description">Descripción del Video 3.</p>
            </div>
        </li>
    </ul>
</div>