<main>
    <section>
        <section class="section-menu">
            <!-- menu -->
            <app-logo></app-logo>
            <section class="section-menu-opciones">
                <div *ngFor="let opcion of menu; let i = index;">
                    <!-- icono -->
                    <p> {{ opcion.titulo }} </p>
                    <!-- ruta -->
                </div>
            </section>
        </section>
        <section>
            <!-- perfil -->
            <section>
                <!-- info perfil -->
            </section>
            <section>
                <!-- highlights -->
            </section>
            <section>
                <!-- tabs -->
            </section>
            <section>
                <!-- fotos de perfil -->
            </section>
        </section>
    </section>
    <footer>
        <!-- info del footer -->
    </footer>
</main>